
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario caza del tesoro</title>
</head>
<body>

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Nueva aventura<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="" method="post">
            <div class="form-group">
                <label for="inputLatitude" class="col-sm-3 control-label">Nombre de la partida</label>

                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputGameName" id="inputGameName"
                           placeholder="Nombre de la aventura">
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" value="submit" class="btn btn-success">Crear y zarpar a la aventura</button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

</body>
</html>