<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet'
          href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css'
          type='text/css'/>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css'
          type='text/css'/>
    <script src='/static/js/map.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet'/>


    <title>Caza {{ game.name }}</title>
</head>
<body>
<div class="row">
    <div class="span6" style="float: none; margin: 0 auto;">
        <nav class="navbar navbar-light bg-info">
        <span class="navbar-brand mb-0 h1">
            <h5>{{ game.name }}</h5>
            <p><h6>Creada por: {{ game.owner.email }}</h6></p>
            <p><h6>Número de participantes: {{ game.participants.count() }}</h6></p>
        </span>
        </nav>
    </div>
</div>
<p/>
<div class="row">
    <div class="col col-lg-6">
        <div id='interactive-map' style='width: 800px; height: 800px;'></div>
    </div>

    <div class="col">
        <div class="row">
            <div class="span6" style="float: none; margin: 0 auto;">
                <nav class="navbar navbar-light bg-success">
                    <h5>Tesoros</h5>
                </nav>
            </div>
            <div class="container">
                {% if treasures %}
                    <table class="table">
                        <thead>
                        <th>Latitud</th>
                        <th>Longitud</th>
                        <th>Descripci&oacute;n</th>
                        <th>Gestionar imagen</th>
                        </thead>
                        <tbody>
                        {% for treasure in treasures %}
                            <tr>
                                <td>{{ treasure.lat }}</td>
                                <td>{{ treasure.lon }}</td>
                                <td>{{ treasure.description }}</td>
                                <td>
                                    <a class="btn btn-primary"
                                       href="/games/treasures/image?game_id={{ game.key() }}&treasure_id={{ treasure.key() }}">
                                        Ver imagen
                                    </a>
                                </td>
                                <td>
                                    {% if user.key() == treasure.game.owner.key() %}
                                        <a class="btn btn-danger"
                                           href="/games/treasures/remove?game_id={{ game.key() }}&treasure_id={{ treasure.key() }}">
                                            Eliminar tesoro defectuoso
                                            <span style="margin-left: 5px;" class="glyphicon glyphicon-list-alt"
                                                  aria-hidden="true"></span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 bg-warning warning_mesagge">
                                <label>No existen tesoros aun.</label>
                            </div>
                        </div>
                    </div>

                {% endif %}

                {% if user.key() == game.owner.key() %}
                    <br/>
                    <a class="btn btn-primary" href="/games/treasures/add?game_id={{ game.key() }}">
                        Crear tesoro
                        <span style="margin-left: 5px;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    </a>
                    <br/>
                {% endif %}
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script>
        createInteractiveMap("interactive-map");
    </script>
</div>
</body>
</html>

