<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos de tesoro</title>
</head>
<body>

<h1>Tesoro {{ treasure.lat }}, {{ treasure.lon }}</h1>

<table class="table">
    <thead>
    <th>Subir Imagen</th>
    </thead>
    <tbody>
    <tr>
        <td>
            <form action="/treasures/image?treasure_id={{ treasure.key() }}&image=<image>" method="POST">
                <input type="file" name="image" accept="image/*" id="image">
                <input type="submit">
            </form>
        </td>
    </tr>
    {% if treasure.images != None %}
        <img src={{ treasure.images }} alt="Treasure image">
    {% endif %}
    </tbody>
</table>
</body>
</html>