{% extends "base.html" %}
{% block content %}
<!-- Bootstrap Core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet">
<link href="../static/css/style.css" rel="stylesheet">

<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p><b>Username :</b>  {{ user.user_name }}</p>
        <p><b>Email :</b>  {{ user.email }}</p>
        <p><b>First name :</b>  {{ user.first_name }}</p>
        <p><b>Last name :</b>  {{ user.last_name }}</p>
        <p><b>gender :</b>  {{ user.user_name }}</p>
        <p><a class="btn btn-primary" href="/user_all">Users list </a></p>

    </div>
    <div class="col-md-2">
        <a class="btn btn-warning btn-block" href="/user_edit/{{ user.key().id() }}">Editar </a>
        <a class="btn btn-danger btn-block" href="/user_delete/{{ user.key().id() }}">Eliminar </a>
    </div>
</div>


<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

{% endblock content %}