{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Zone <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></h1>

    </div>
</div>
<br/>
<a class="btn btn-primary" href="/zone_new">
    Crear zona
    <span style="margin-left: 5px;" class="glyphicon glyphicon-globe" aria-hidden="true"></span>
</a>
<br/>
<br/>
{% if data.count() > 0 %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <th>Nombre</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Height</th>
            <th>Width</th>
            <th>Acciones</th>
            </thead>
            <tbody>
            {% for zone in data  %}
            <tr>
                <td>{{ zone.name }}</td>
                <td>{{ zone.latitude }}</td>
                <td>{{ zone.longitude }}</td>
                <td>{{ zone.height }}</td>
                <td>{{ zone.width }}</td>
                <td>
                    <a class="btn btn-primary btn-block" href="/zone_one/{{ zone.key().id() }}">Detalle </a>
                    <a class="btn btn-warning btn-block" href="/zone_edit/{{ zone.key().id() }}">Editar </a>
                    <a class="btn btn-danger btn-block" href="/zone_delete/{{ zone.key().id() }}">Eliminar </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen zonas todav&iacute;a.</label>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>

{% endif %}

        <script type="text/javascript">
            window.onload = function() {
                if(!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }
            }
        </script>

{% endblock content %}