{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Users <span class="glyphicon glyphicon-user" aria-hidden="true"></span></h1>

    </div>
</div>
<br/>
<a class="btn btn-primary" href="/user_new">
    Crear usuario
    <span style="margin-left: 5px;" class="glyphicon glyphicon-user" aria-hidden="true"></span>
</a>
<br/>
<br/>

{% if data.count() > 0 %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <th>E-mail</th>
            <th>name</th>
            <th>picture</th>
            <th>Role</th>
            <th>Acciones</th>
            </thead>
            <tbody>
            {% for user in data  %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.surname }}</td>
                <td>{{ user.picture }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a class="btn btn-primary btn-block" href="/user_one/{{ user.key().id() }}">profile </a>
                    <a class="btn btn-warning btn-block" href="/user_edit/{{ user.key().id() }}">Editar </a>
                    <a class="btn btn-danger btn-block" href="/user_delete/{{ user.key().id() }}">Eliminar </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
{% else %}
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen usuarios todav&iacute;a.</label>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>

{% endif %}

        <script type="text/javascript">
            window.onload = function() {
                if(!window.location.hash) {
                    window.location = window.location + '#loaded';
                    window.location.reload();
                }
            }
        </script>

{% endblock content %}
